<ion-header>
  <ion-toolbar>
    <ion-title>Agenda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <ion-card-content>

      <ion-grid>

        <ion-row class="header">
          <ion-col size="2"></ion-col>
          <ion-col *ngFor="let day of days">{{ day }}</ion-col>
        </ion-row>

        <ion-row *ngFor="let time of times">
          <ion-col size="2" class="time">{{ time }}</ion-col>

          <ion-col *ngFor="let day of days">
            <div class="cell">
              {{ schedule[day]?.[time] || '-' }}
            </div>
          </ion-col>
        </ion-row>

      </ion-grid>

    </ion-card-content>
  </ion-card>

</ion-content>